<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/mainCSS.css" th:href="@{css/mainCSS.css}">
    <title>Output</title>
</head>
<body>
    <h1>Output</h1>
    <p>
        Your choice was:<span th:action="${user.setChoiceString()}" th:text="${user.getChoiceString()}"></span>
    </p>
    <p>
        The computers choice was:<span th:action="${user.setRandom()}" th:text="${user.getCompChoice()}"></span>
    </p>
    <p>
        <span th:action="${user.setWin()}" th:text="${user.getWin()}"></span>
    </p>
    <a href="Input.html" th:href="@{Input}">Play again</a>
    <span></span>
</body>
</html>